<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>ピラニアン (Piranhan) - {{ page.title }}</title>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>

<body>

<div id="site">
  <div id="title"></div>
  <div id="toolbar">
<div id="tweet_button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://unity3d-jp.github.io/piranhan/" data-count="horizontal" data-text="ピラニアン">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></div>
<div id="facebook_button"><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=260331134000866&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://unity3d-jp.github.io/piranhan/" data-send="false" data-layout="button_count" data-show-faces="false"></div>
</div>
  </div>
  
  {{ content }}
  
  <div id="footer">© 2013 DAISUKE AMAYA / UNITY TECHNOLOGIES JAPAN</div>
</div>
</body>
</html>
